*.class
*~
.*.swp
.*.swo
.loadpath
.buildpath
.project
.settings
.classpath
.metadata
.idea
*.iml
*.ipr
*.iws
nbproject
.DS_Store
target
test-output
nbactions.xml
atlassian-ide-plugin.xml
gwt/samples/gwt-conn-share/src/main/gwt-unitCache/
gwt/samples/gwt-conn-share/src/main/webapp/gwtDemo/
gwt/samples/gwt-conn-share/src/main/webapp/WEB-INF/classes/
gwt/samples/gwt-conn-share/src/main/webapp/WEB-INF/deploy/
gwt/samples/gwt-conn-share/src/main/webapp/WEB-INF/lib/
gwt/samples/gwt-chat/src/main/gwt-unitCache/
gwt/samples/gwt-chat/src/main/webapp/gwtDemo/
gwt/samples/gwt-chat/src/main/webapp/WEB-INF/classes/
gwt/samples/gwt-chat/src/main/webapp/WEB-INF/deploy/
gwt/samples/gwt-chat/src/main/webapp/WEB-INF/lib/
gwt/samples/gwt-demo/src/main/gwt-unitCache/
gwt/samples/gwt-demo/src/main/webapp/gwtDemo/
gwt/samples/gwt-demo/src/main/webapp/WEB-INF/classes/
gwt/samples/gwt-demo/src/main/webapp/WEB-INF/deploy/
gwt/samples/gwt-demo/src/main/webapp/WEB-INF/lib/

